/* Container for messages */
.messages-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 15px 15px 70px 15px;
  overflow-y: auto;
  height: 100%;
  /* background-color: #ede9fe; */
  background-color: #fadadd;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f9f9f9;
}

.messages-container::-webkit-scrollbar {
  width: 5px;
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.messages-container::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

/* Message layout */
.message {
  display: flex;
  align-items: flex-end;
  max-width: 70%;
  margin: 5px 0;
}

/* Received messages (left) */
.message-left {
  align-self: flex-start;
  flex-direction: row;
}

/* Sent messages (right) */
.message-right {
  align-self: flex-end;
  flex-direction: row-reverse;
}

/* Avatar styling */
.message-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Message bubble */
.message-bubble {
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 100%;
  font-size: 14px;
  line-height: 1;
  word-wrap: break-word;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Received message bubble */
.message-left .message-bubble {
  background-color: #ffffff;
  border-radius: 8px 8px 8px 3px;
  color: #333;
}

/* Sent message bubble */
.message-right .message-bubble {
  background-color: #dcf8c6;
  border-radius: 8px 8px 3px 8px;
  color: #000;
}

/* Message text */
.message-text {
  margin: 0;
  color: #000;
  font-size: 14px;
}

/* Timestamp */
.message-timestamp {
  display: block;
  font-size: 11px;
  color: #bbb;
  text-align: right;
  margin-top: 5px;
}

/* Input Section */
.message-form-section {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #ffffff;
}

.message-form-section input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 14px;
}

.message-form-section button {
  padding: 10px 15px;
  background-color: #128c7e;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.message-form-section button:hover {
  background-color: #0d6e5b;
}
