.sidebar {
  width: 220px;
  background: #1a1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  position: relative; /* Ensure absolute elements inside are positioned relative to sidebar */
}

.sidebar .logo {
  width: 200px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 100%;
  gap: 2px;
}

.menu li {
  display: flex;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
  text-align: left;
  transition: background 0.3s;
  border-radius: 8px;
  align-items: center;
}

.menu li:hover,
.menu li.active {
  background: #333;
}

.menu li.active {
  background: #a91d3a;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu li a svg {
  margin-right: 10px;
  font-size: 18px;
}

/* Notifications Styling */
.notifications {
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.notifications svg {
  margin-right: 10px;
  font-size: 18px;
}

/* Notification Dropdown Styling */
.notification-dropdown {
  position: absolute;
  right: -10px; /* Adjust as needed */
  z-index: 9999;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 300px;
  padding: 10px;
  border-radius: 5px;
}

.notification-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification-dropdown li {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.notification-dropdown li:last-child {
  border-bottom: none;
}

.notification-dropdown-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.notification-dropdown-header button {
  background: #1a1a1a;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.notification-filters {
  margin-top: 10px;
  text-align: center;
}

.notification-filters button {
  background: #1a1a1a;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 5px;
}

/* Logout Button Styling */
.logout {
  margin-bottom: 1cm;
  background: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.logout:hover {
  background: #d43d3d;
}

.logout svg {
  font-size: 18px;
}

.notification-popup {
  margin-top: 200px;
}
