.sidebar {
  width: 220px;
  background: #1a1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar .logo {
  width: 200px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 100%;
  gap: 2px;
}

.menu li {
  display: flex;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
  text-align: left;
  transition: background 0.3s;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.menu li:hover,
.menu li.active {
  background: #333;
}

.menu li.active {
  background: #a91d3a;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu li a svg {
  margin-right: 10px;
  font-size: 18px;
}

/* Notifications Styling */
.notifications {
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.notifications svg {
  margin-right: 10px;
  font-size: 18px;
}

/* Logout Button Styling */
.logout {
  margin-bottom: 1cm;
  background: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  transition: background 0.3s;
}

.logout:hover {
  background: #d43d3d;
}

.logout svg {
  font-size: 18px;
}
